<%- include('../partials/header')-%>
<%- include('../partials/navbar')-%>
    <div class="container">

       <div class="row mt-3">
        <div class="col md-12">
            <%- include('../partials/flashMessage')-%>
        </div>
       </div>
       <% chunk.forEach((profs) =>{%>
        <div class="row mt-5">
            <% profs.forEach((prof) =>{%>
           <div class="col-sm-6 col-md-4">
            <div class="card text-center"  >
                <div class="card-body" >
                  <div class="card-header bg-dark text-white">
                    <h5 class="card-text " style="font-style: italic;"><%= prof.nom%> <%= prof.prenom%></h5>
                  </div>  
                  <div class="card-body">
                    <p class="card-title" style="font-style: italic;"><%= prof.email%></p>
                    <p  style="font-style: italic;"><%= prof.date_Naissance.toDateString()%></p>
                    <a href="<%= '/profs/' + prof.id%>" class="btn btn-dark">Show More</a>
                    <div class="card-body">
            <form id="<%= prof.id %>" method="GET" action="<%= '/courses/prof/'+ prof.id %>">
                <button type="submit" class="btn btn-primary">Voir les cours</button>
            </form>
        </div>
                  </div>
              </div>
           </div>
        </div>
       <% })%>
    </div>
    <% })%>

   
    <%- include('../partials/footer')-%>