<%- include('../partials/header')-%>
<%- include('../partials/navbar')-%>
<table class="table mt-3" style="margin: 10px;">
    <thead class="table-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nom</th>
        <th scope="col">Prénom</th>
        <th scope="col">Email</th>
        <th scope="col">Matière</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody >
      <% let i = 1; %>
      <% chunk.forEach((profs) =>{ %>
        <% profs.forEach((prof) =>{ %>
          <tr>
            <td scope="row"><%= i %></td>
            <td><%= prof.nom %></td>
            <td><%= prof.prenom %></td>
            <td><%= prof.email %></td>
            <td><%= prof.matiere %></td>
            <td>
              <a href="<%= '/profs/' + prof.id %>" class="btn btn-dark" style="border-radius: 20px;">Show More</a>
            </td>
          </tr>
          <% i++; %>
        <% }) %>
      <% }) %>
    </tbody>
  </table>
  
  <%- include('../partials/footer')-%>