<%- include('../partials/header')-%>
<%- include('../partials/navbar')-%>


<div class="container mt-3" style="padding-left: 50%;">
  <form id="date-form" action="#">
    <div class="row">
      <div class="col">
        <input type="date" class="form-control" id="date-deb" placeholder="Date debut" name="date-deb">
      </div>
      <div class="col">
        <input type="date" class="form-control" id="date-fin" placeholder="Date fin" name="date-fin">
      </div>
  <input type="hidden" id="prof-select" name="prof-select" value="<%= prof._id%>">
      <div class="col">
        <button type="submit" class="form-control btn btn-primary">Calculer</button>
      </div>
      <div class="col">
        <input type="text" class="form-control" id="total" placeholder="Total" disabled>
      </div>
    </div>
  </form>
</div>

</form>
</div>
<button href="" class="btn btn-danger" style="width: 20%; " 
            onclick="deleteAllcours()" id="deleteAllCours" >Delete All</button> 

<table class="table mt-3" style="margin: 10px;">
    <thead class="table">

      <tr class="table-dark">
        <td scope="col">#</td>
        <td colspan="1">Date</td>
        <td colspan="1">Date Deb</td>
        <td colspan="1">Date Fin</td>
        <td colspan="1">Matiere</td>
        <td colspan="1">Prof</td>
        <td colspan="1">CM</td>
        <td colspan="1">TD</td>
        <td colspan="1">TP</td>
        <td colspan="1">Eq.CM</td>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody >        
      <% let i = 1; %>
      <% const sortedCours = cours.flat().sort((a, b) => new Date(a.date) - new Date(b.date)); %>
      <% sortedCours.forEach((cour) =>{ %>
        
          <tr>
            <td scope="row"><%= i %></td>
            <td  style="font-style: italic;"><%= cour.date.toLocaleDateString('fr-FR') %></td>
            <td><%= cour.Deb.toLocaleTimeString() %></td>
            <td><%= cour.Fin.toLocaleTimeString() %></td>
            <td><%= cour.matiere.name%> </td>
            <td><%= cour.prof.nom%> </td>
            <td><%= cour.CM%> </td>
            <td><%= cour.TD%> </td>
            <td><%= cour.TP%> </td>
            <td><%= cour.total.toFixed(2) %> </td>
           <td>
            <a href="<%= '/courses/edit/' + cour.id%>" class="btn btn-primary" style="width: 49%; ">Edit</a>
            <button href="" class="btn btn-danger" style="width: 49%; " 
            onclick="deletecours()" id="deleteCours" data-cours="<%= cour.id%>">Delete</button> 
            

           </td>
          </tr>
          
          <% i++; %>
        <% }) %>
    </tbody>
  </table>
  
  
  <script>
    const dateForm = document.getElementById('date-form');
    const totalInput = document.getElementById('total');
    
    dateForm.addEventListener('submit', async (event) => {
      event.preventDefault();
      const dateDeb = document.getElementById('date-deb').value;
      const dateFin = document.getElementById('date-fin').value;
      const profSelect = document.getElementById('prof-select');
      const profId = profSelect.value; // récupère l'ID du professeur sélectionné
      const response = await fetch(`/courses/total/${profId}?dateDeb=${dateDeb}&dateFin=${dateFin}`); // utilise la route avec l'ID du professeur
      const data = await response.json();
      totalInput.value = data.total;
    });
    
    
</script>

  <%- include('../partials/footer')-%>