<%- include('../partials/header')-%>
<%- include('../partials/navbar')-%>
    <div class="container">
        <div class="row mt-4">
                <div class="col-md-6 offset-md-3">
                    <div class="card text-center"  >
                        <div class="card-body" >
                            <!-- <a href="<%= '/events/'%>" class="btn btn-dark">Back to Home</a> -->
                            <h5 class="card-title " style="font-style: italic;"><%= event.title%></h5>
                            <hr>
                            <p class="card-text"><%= event.description%></p>
                            <p class="card-title" style="font-style: italic;"><%= event.location%></p>
                            <p  style="font-style: italic; color: aliceblue;" class="bg-secondary"><%= event.date.toDateString()%></p>

                            <% if ((user) && (user.id == event.user_id)){%>
                            <a href="<%= '/events/edit/' + event.id%>" class="btn btn-primary" style="width: 49%; border-radius: 30px;">Edit</a>
                            <!-- <a href="" class="btn btn-danger" style="width: 49%; border-radius: 30px;">Delete</a>  -->
                            <button href="" class="btn btn-danger" style="width: 49%; border-radius: 30px;" 
                            onclick="deleteEvent()" id="deleteBtn" data-id="<%= event.id%>">Delete</button> 

                            <%}%>
                   </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('../partials/footer')-%>

   